Om Muruga

In [1]:
import os
import pandas as pd

RAW_DIR = "data/csv_files/raw_data"
CLEAN_DIR = "data/csv_files/cleaned_data"
N_TEMPLATES = 5

raw = {}
clean = {}

for i in range(1, N_TEMPLATES + 1):
    raw_path = os.path.join(RAW_DIR, f"template{i}.csv")
    clean_path = os.path.join(CLEAN_DIR, f"template{i}_clean.csv")

    raw[i] = pd.read_csv(raw_path)
    clean[i] = pd.read_csv(clean_path)

print("Loaded templates:", list(raw.keys()))

Loaded templates: [1, 2, 3, 4, 5]

In [2]:
from IPython.display import display, Markdown

N_ROWS = 5

for i in range(1, N_TEMPLATES + 1):
    display(Markdown(f"# Template {i}"))
    display(Markdown("## Raw (Top 5)"))
    display(raw[i].head(N_ROWS))

    display(Markdown("## Cleaned (Top 5)"))
    display(clean[i].head(N_ROWS))

# Template 1

## Raw (Top 5)

,BUYER,DATE,DISCOUNT,DUE_DATE,GSTIN_BUYER,GSTIN_SELLER,INVOICE_INFO,LOGO,NOTE,OTHER,...,SELLER_ADDRESS,SELLER_EMAIL,SELLER_SITE,SUB_TOTAL,TABLE,TAX,TITLE,TOTAL,TOTAL_WORDS,_source_file
0,Bill to:Denise Perez\n16424 Timothy Mission\nM...,Date: 20-Mar-2008,DISCOUNT(1.85%): (-) 13.42,Due Date : 16-Oct-2016,GSTIN: OG@AAMFCO376K124,(GSTIN: 12345670 00070007,[],NaN,Note:\nThis order is shipped through blue dart...,TAX INVOICE\n\nDate: 20-Mar-2008\nDue Date : 1...,...,"Address:16424 Timothy Mission\nMarkville, AK 5...",Email:melvin40@example.net,www.ThompsonandSons.org,SUB_TOTAL : 725.30 EUR,"[[{'bbox': [[10.0, 328.88980000000004], [560.0...",TAX:VAT (3.88%): 28.18 EUR,TAX INVOICE,TOTAL : 734.33 EUR,Total in words: seven hundred and thirt-\ny-f...,Template1_Instance0.json
1,Buyer :Timothy Clark\n62035 Daniel Cove Suite ...,Date: 01-Apr-1994,DISCOUNT(2.1%): (-) 27.35,Due Date : 25-Nov-1999,GSTIN: OG@AAMFCO376K124,(GSTIN: 12345670 00070007,[],NaN,Note:\nThis order is shipped through blue dart...,"Address:16424 Timothy Mission\nMarkville, AK 5...",...,"Address:16424 Timothy Mission\nMarkville, AK 5...",Email:melvin40@example.net,www.ThompsonandSons.org,SUB_TOTAL : 1302.22 EUR,"[[{'bbox': [[10.0, 328.88980000000004], [560.0...",TAX:VAT (6.40%): 83.40 EUR,COMMERCIAL INVOICE,TOTAL : 1357.49 EUR,"Total in words: one thousand, three hundred a...",Template1_Instance1.json
2,Bill to:Angel Bailey\n265 Ochoa Manors Apt. 51...,Invoice Date: 12-Mar-2009,DISCOUNT(3.67%): (-) 26.99,Due Date : 20-Jun-1995,GSTIN: OG@AAMFCO376K124,(GSTIN: 12345670 00070007,[],NaN,Thank you for choosing us!,"Address:16424 Timothy Mission\nMarkville, AK 5...",...,"Address:16424 Timothy Mission\nMarkville, AK 5...",Email:melvin40@example.net,www.ThompsonandSons.org,SUB_TOTAL : 735.29 EUR,"[[{'bbox': [[10.0, 292.88980000000004], [560.0...",TAX:VAT (3.10%): 22.77 EUR,COMMERCIAL INVOICE,TOTAL : 744.38 EUR,Total in words: seven hundred and forty-\n-fo...,Template1_Instance10.json
3,Bill to:Daniel Dalton\n3324 Price Divide Suite...,Date: 17-Sep-2006,DISCOUNT(2.9%): (-) 27.99,Due Date : 14-Aug-2009,GSTIN: OG@AAMFCO376K124,(GSTIN: 12345670 00070007,[],NaN,Note: All payments to be made in cash.\nContac...,INVOICE\n\nDate: 17-Sep-2006\nDue Date : 14-Au...,...,"Address:16424 Timothy Mission\nMarkville, AK 5...",Email:melvin40@example.net,www.ThompsonandSons.org,SUB_TOTAL : 965.24 EUR,"[[{'bbox': [[10.0, 328.88980000000004], [560.0...",TAX:VAT (3.36%): 32.47 EUR,INVOICE,TOTAL : 967.02 EUR,Total in words: nine hundred and sixt-\ny-sev...,Template1_Instance100.json
4,Buyer :Dan Acosta\n525 Michael Vista\nNorth Ki...,Invoice Date: 06-Sep-2017,DISCOUNT(3.45%): (-) 21.2,Due Date : 16-May-2012,GSTIN: OG@AAMFCO376K124,(GSTIN: 12345670 00070007,[],NaN,Note:\nThis order is shipped through blue dart...,"Address:16424 Timothy Mission\nMarkville, AK 5...",...,"Address:16424 Timothy Mission\nMarkville, AK 5...",Email:melvin40@example.net,www.ThompsonandSons.org,SUB_TOTAL : 614.54 USD,"[[{'bbox': [[10.0, 328.88980000000004], [560.0...",TAX:VAT (4.18%): 25.68 USD,TAX INVOICE,TOTAL : 626.27 USD,Total in words: six hundred and twent-\ny-six...,Template1_Instance101.json

## Cleaned (Top 5)

,BUYER,BUYER_addr_line1,BUYER_addr_line2,BUYER_city_state_postal_country,BUYER_email,BUYER_name,BUYER_raw,BUYER_site,BUYER_tel,CURRENCY,...,SUB_TOTAL,SUB_TOTAL_AMOUNT,TABLE,TAX,TAX_AMOUNT,TITLE,TOTAL,TOTAL_AMOUNT,TOTAL_WORDS,_source_file
0,Bill to:Denise Perez\n16424 Timothy Mission\nM...,16424 Timothy Mission,"Markville, AK 58294 US",NaN,melvin40@example.net,Bill to:Denise Perez,Bill to:Denise Perez | 16424 Timothy Mission |...,http://smith.org/,+(352)259-8443,EUR,...,SUB_TOTAL : 725.30 EUR,725.30,"[[{'bbox': [[10.0, 328.88980000000004], [560.0...",TAX:VAT (3.88%): 28.18 EUR,28.18,TAX INVOICE,TOTAL : 734.33 EUR,734.33,Total in words: seven hundred and thirt-\ny-f...,Template1_Instance0.json
1,Buyer :Timothy Clark\n62035 Daniel Cove Suite ...,62035 Daniel Cove Suite 917,"Griffinport, ND 45912 US",NaN,millschristopher@example.com,Buyer :Timothy Clark,Buyer :Timothy Clark | 62035 Daniel Cove Suite...,https://www.cole.com/,+(038)419-8330,EUR,...,SUB_TOTAL : 1302.22 EUR,2.22,"[[{'bbox': [[10.0, 328.88980000000004], [560.0...",TAX:VAT (6.40%): 83.40 EUR,83.40,COMMERCIAL INVOICE,TOTAL : 1357.49 EUR,7.49,"Total in words: one thousand, three hundred a...",Template1_Instance1.json
2,Bill to:Angel Bailey\n265 Ochoa Manors Apt. 51...,265 Ochoa Manors Apt. 518,"North John, MD 41885 US",NaN,baileygary@example.net,Bill to:Angel Bailey,Bill to:Angel Bailey | 265 Ochoa Manors Apt. 5...,https://www.mccormick.com/,+(675)553-3428,EUR,...,SUB_TOTAL : 735.29 EUR,735.29,"[[{'bbox': [[10.0, 292.88980000000004], [560.0...",TAX:VAT (3.10%): 22.77 EUR,22.77,COMMERCIAL INVOICE,TOTAL : 744.38 EUR,744.38,Total in words: seven hundred and forty-\n-fo...,Template1_Instance10.json
3,Bill to:Daniel Dalton\n3324 Price Divide Suite...,3324 Price Divide Suite 903,"North Pamela, GU 60539 US",NaN,mcdanielchristopher@example.net,Bill to:Daniel Dalton,Bill to:Daniel Dalton | 3324 Price Divide Suit...,https://west.com/,+(080)666-8294,EUR,...,SUB_TOTAL : 965.24 EUR,965.24,"[[{'bbox': [[10.0, 328.88980000000004], [560.0...",TAX:VAT (3.36%): 32.47 EUR,32.47,INVOICE,TOTAL : 967.02 EUR,967.02,Total in words: nine hundred and sixt-\ny-sev...,Template1_Instance100.json
4,Buyer :Dan Acosta\n525 Michael Vista\nNorth Ki...,525 Michael Vista,"North Kimberlychester, GU 17479 US",NaN,chelseaunderwood@example.com,Buyer :Dan Acosta,Buyer :Dan Acosta | 525 Michael Vista | North ...,http://rivera.info/,+(792)992-4731,USD,...,SUB_TOTAL : 614.54 USD,614.54,"[[{'bbox': [[10.0, 328.88980000000004], [560.0...",TAX:VAT (4.18%): 25.68 USD,25.68,TAX INVOICE,TOTAL : 626.27 USD,626.27,Total in words: six hundred and twent-\ny-six...,Template1_Instance101.json

# Template 2

## Raw (Top 5)

,BUYER,DATE,GST(7%),GSTIN,INVOICE_INFO,LOGO,NUMBER,OTHER,SELLER_ADDRESS,SELLER_NAME,SUB_TOTAL,TABLE,TITLE,TOTAL,_source_file
0,Bill to:Suzanne Sandoval\n13868 Michael Wall\n...,Invoice Date: 23-Feb-2014,GST(7%) : 45.21,GSTIN: 33123456789102Z1,[],NaN,INVOICE # INV17967327,Chargebee\n\nAddress:13868 Michael Wall\nNorth...,"Address:13868 Michael Wall\nNorth Cindytown, C...","Barnes, Garcia and Martin",SUB_TOTAL : 645.92 $,"[[{'bbox': [[20.0, 354.8898], [570.0, 282.8898...",INVOICE,TOTAL : 653.95 $,Template2_Instance0.json
1,Buyer :Anthony Brown\n184 Christopher Ridge\nM...,Date: 27-Mar-2008,GST(7%) : 51.08,GSTIN: 33123456789102Z1,[],NaN,Invoice number 2Y9M4d-800,Chargebee\n\nAddress:13868 Michael Wall\nNorth...,"Address:13868 Michael Wall\nNorth Cindytown, C...","Barnes, Garcia and Martin",SUB_TOTAL : 729.65 USD,"[[{'bbox': [[20.0, 354.8898], [570.0, 282.8898...",INVOICE,TOTAL : 739.31 USD,Template2_Instance1.json
2,Buyer :Marvin Smith\n7611 Jesse Hollow Apt. 61...,Invoice Date: 01-Apr-2021,GST(7%) : 75.55,GSTIN: 33123456789102Z1,[],NaN,INVOICE # 2533-604,Chargebee\n\nAddress:13868 Michael Wall\nNorth...,"Address:13868 Michael Wall\nNorth Cindytown, C...","Barnes, Garcia and Martin",SUB_TOTAL : 1079.27 $,"[[{'bbox': [[20.0, 372.8898], [570.0, 282.8898...",TAX INVOICE,TOTAL : 1107.09 $,Template2_Instance10.json
3,Buyer :Katherine Mclaughlin\n66384 Lisa Hollow...,Date: 09-Dec-2013,GST(7%) : 24.57,GSTIN: 33123456789102Z1,[],NaN,INVOICE ID INV06961250,Chargebee\n\nAddress:13868 Michael Wall\nNorth...,"Address:13868 Michael Wall\nNorth Cindytown, C...","Barnes, Garcia and Martin",SUB_TOTAL : 351.00 USD,"[[{'bbox': [[20.0, 336.8898], [570.0, 282.8898...",COMMERCIAL INVOICE,TOTAL : 357.40 USD,Template2_Instance100.json
4,Buyer :Tiffany Mendoza\n10965 Sullivan Summit\...,Date: 10-Feb-1995,GST(7%) : 2.68,GSTIN: 33123456789102Z1,[],NaN,INVOICE # 5701-821,Chargebee\n\nAddress:13868 Michael Wall\nNorth...,"Address:13868 Michael Wall\nNorth Cindytown, C...","Barnes, Garcia and Martin",SUB_TOTAL : 38.31 EUR,"[[{'bbox': [[20.0, 336.8898], [570.0, 282.8898...",TAX INVOICE,TOTAL : 37.88 EUR,Template2_Instance101.json

## Cleaned (Top 5)

,BUYER,BUYER_addr_line1,BUYER_addr_line2,BUYER_city_state_postal_country,BUYER_email,BUYER_name,BUYER_raw,BUYER_site,BUYER_tel,CURRENCY,...,SELLER_site,SELLER_tel,SUB_TOTAL,SUB_TOTAL_AMOUNT,TABLE,TAX_AMOUNT,TITLE,TOTAL,TOTAL_AMOUNT,_source_file
0,Bill to:Suzanne Sandoval\n13868 Michael Wall\n...,13868 Michael Wall,"North Cindytown, CT 45483 US",NaN,ljames@example.org,Bill to:Suzanne Sandoval,Bill to:Suzanne Sandoval | 13868 Michael Wall ...,http://www.campbell-baker.com/,+(836)744-4229,USD,...,NaN,NaN,SUB_TOTAL : 645.92 $,645.92,"[[{'bbox': [[20.0, 354.8898], [570.0, 282.8898...",NaN,INVOICE,TOTAL : 653.95 $,653.95,Template2_Instance0.json
1,Buyer :Anthony Brown\n184 Christopher Ridge\nM...,184 Christopher Ridge,"Mitchellchester, MN 32776 US",NaN,ericmontgomery@example.org,Buyer :Anthony Brown,Buyer :Anthony Brown | 184 Christopher Ridge |...,http://www.pierce.biz/,+(298)995-0812,USD,...,NaN,NaN,SUB_TOTAL : 729.65 USD,729.65,"[[{'bbox': [[20.0, 354.8898], [570.0, 282.8898...",NaN,INVOICE,TOTAL : 739.31 USD,739.31,Template2_Instance1.json
2,Buyer :Marvin Smith\n7611 Jesse Hollow Apt. 61...,7611 Jesse Hollow Apt. 613,"Port Andrewside, OK 89679 US",NaN,lmorris@example.net,Buyer :Marvin Smith,Buyer :Marvin Smith | 7611 Jesse Hollow Apt. 6...,https://www.ramirez-cook.net/,+(385)761-7629,USD,...,NaN,NaN,SUB_TOTAL : 1079.27 $,9.27,"[[{'bbox': [[20.0, 372.8898], [570.0, 282.8898...",NaN,TAX INVOICE,TOTAL : 1107.09 $,7.09,Template2_Instance10.json
3,Buyer :Katherine Mclaughlin\n66384 Lisa Hollow...,66384 Lisa Hollow,"Port Rachelfort, GU 62290 US",NaN,xlucas@example.org,Buyer :Katherine Mclaughlin,Buyer :Katherine Mclaughlin | 66384 Lisa Hollo...,https://www.campos-wagner.com/,+(428)286-4205,USD,...,NaN,NaN,SUB_TOTAL : 351.00 USD,351.00,"[[{'bbox': [[20.0, 336.8898], [570.0, 282.8898...",NaN,COMMERCIAL INVOICE,TOTAL : 357.40 USD,357.40,Template2_Instance100.json
4,Buyer :Tiffany Mendoza\n10965 Sullivan Summit\...,10965 Sullivan Summit,"Port Jeffrey, DC 98039 US",NaN,mcbridejasmine@example.org,Buyer :Tiffany Mendoza,Buyer :Tiffany Mendoza | 10965 Sullivan Summit...,https://lara.biz/,+(205)168-6734,EUR,...,NaN,NaN,SUB_TOTAL : 38.31 EUR,38.31,"[[{'bbox': [[20.0, 336.8898], [570.0, 282.8898...",NaN,TAX INVOICE,TOTAL : 37.88 EUR,37.88,Template2_Instance101.json

# Template 3

## Raw (Top 5)

,BILL_TO,DATE,DUE_DATE,INVOICE_INFO,LOGO,NOTE,NUMBER,OTHER,PO_NUMBER,SELLER_NAME,TABLE,TAX,TITLE,TOTAL,TOTAL_WORDS,_source_file
0,BILL_TO:\nSarah Ross\n073 Ayers Street Apt. 37...,Date: 03-Mar-2002,Due Date : 20-Aug-2007,[],NaN,Note: All payments to be made in cash.\nContac...,INVOICE ID INV16291505,"INVOICE\n\nNK.NAG & CO,\n\nDate: 03-Mar-2002\n...",PO Number :82,"Kirk, Murphy and Daniels","[[{'bbox': [[3.0, 426.8898], [543.0, 318.8898]...",TAX:VAT (6.46%): 86.23 $,INVOICE,TOTAL : 1377.77 $,"Total in words: one thousand, three hundred a...",Template3_Instance0.json
1,BILL_TO:\nJennifer Leblanc\n938 Gonzalez Court...,Invoice Date: 06-Aug-2017,Due Date : 17-Sep-2021,[],NaN,Thank you for choosing us!,INVOICE # 1Y7M4d-846,"COMMERCIAL INVOICE\nNK.NAG & CO,\n\nInvoice Da...",PO Number :16,"Kirk, Murphy and Daniels","[[{'bbox': [[3.0, 390.8898], [543.0, 318.8898]...",TAX:VAT (5.43%): 18.60 USD,COMMERCIAL INVOICE,TOTAL : 350.43 USD,Total in words: three hundred and fi-\nfty po...,Template3_Instance1.json
2,BILL_TO:\nMr. John Gray\n013 Hayes Route Apt. ...,Invoice Date: 25-Nov-2014,Due Date : 10-Jan-2013,[],NaN,Note:Total payment due in 14 days.,Invoice number 5Y4M5d-345,"COMMERCIAL INVOICE\n\nNK.NAG & CO,\n\nInvoice ...",PO Number :06,"Kirk, Murphy and Daniels","[[{'bbox': [[3.0, 372.8898], [543.0, 318.8898]...",TAX:VAT (6.16%): 7.60 EUR,COMMERCIAL INVOICE,TOTAL : 126.98 EUR,Total in words: one hundred and twent-\ny-six...,Template3_Instance10.json
3,BILL_TO:\nRachel Garza\n41913 Paul Drives\nPor...,Date: 17-Jun-2009,Due Date : 19-Feb-1998,[],NaN,Note:\nThis order is shipped through blue dart...,INVOICE # INV/70-41/903,"TAX INVOICE\n\nNK.NAG & CO,\n\nDate: 17-Jun-20...",PO Number :44,"Kirk, Murphy and Daniels","[[{'bbox': [[3.0, 372.8898], [543.0, 318.8898]...",TAX:VAT (6.22%): 11.99 USD,TAX INVOICE,TOTAL : 196.23 USD,Total in words: one hundred and ninet-\ny-six...,Template3_Instance100.json
4,BILL_TO:\nKelly Snyder\n81132 Parsons Lodge\nJ...,Invoice Date: 10-Aug-1999,Due Date : 15-May-2006,[],NaN,Note:Total payment due in 14 days.,INVOICE ID INV79204732,"COMMERCIAL INVOICE\n\nNK.NAG & CO,\n\nInvoice ...",PO Number :08,"Kirk, Murphy and Daniels","[[{'bbox': [[3.0, 408.8898], [543.0, 318.8898]...",TAX:VAT (6.85%): 77.71 $,COMMERCIAL INVOICE,TOTAL : 1155.97 $,"Total in words: one thousand, one hundred an-...",Template3_Instance101.json

## Cleaned (Top 5)

,BILL_TO,CURRENCY,DATE,DATE_NORM,DISCOUNT_AMOUNT,DUE_DATE,DUE_DATE_NORM,INVOICE_INFO,NOTE,NUMBER,...,SELLER_NAME,SUB_TOTAL_AMOUNT,TABLE,TAX,TAX_AMOUNT,TITLE,TOTAL,TOTAL_AMOUNT,TOTAL_WORDS,_source_file
0,BILL_TO:\nSarah Ross\n073 Ayers Street Apt. 37...,USD,Date: 03-Mar-2002,2002-03-03,NaN,Due Date : 20-Aug-2007,2007-08-20,[],Note: All payments to be made in cash.\nContac...,INVOICE ID INV16291505,...,"Kirk, Murphy and Daniels",NaN,"[[{'bbox': [[3.0, 426.8898], [543.0, 318.8898]...",TAX:VAT (6.46%): 86.23 $,86.23,INVOICE,TOTAL : 1377.77 $,7.77,"Total in words: one thousand, three hundred a...",Template3_Instance0.json
1,BILL_TO:\nJennifer Leblanc\n938 Gonzalez Court...,USD,Invoice Date: 06-Aug-2017,2017-08-06,NaN,Due Date : 17-Sep-2021,2021-09-17,[],Thank you for choosing us!,INVOICE # 1Y7M4d-846,...,"Kirk, Murphy and Daniels",NaN,"[[{'bbox': [[3.0, 390.8898], [543.0, 318.8898]...",TAX:VAT (5.43%): 18.60 USD,18.60,COMMERCIAL INVOICE,TOTAL : 350.43 USD,350.43,Total in words: three hundred and fi-\nfty po...,Template3_Instance1.json
2,BILL_TO:\nMr. John Gray\n013 Hayes Route Apt. ...,EUR,Invoice Date: 25-Nov-2014,2014-11-25,NaN,Due Date : 10-Jan-2013,2013-01-10,[],Note:Total payment due in 14 days.,Invoice number 5Y4M5d-345,...,"Kirk, Murphy and Daniels",NaN,"[[{'bbox': [[3.0, 372.8898], [543.0, 318.8898]...",TAX:VAT (6.16%): 7.60 EUR,7.60,COMMERCIAL INVOICE,TOTAL : 126.98 EUR,126.98,Total in words: one hundred and twent-\ny-six...,Template3_Instance10.json
3,BILL_TO:\nRachel Garza\n41913 Paul Drives\nPor...,USD,Date: 17-Jun-2009,2009-06-17,NaN,Due Date : 19-Feb-1998,1998-02-19,[],Note:\nThis order is shipped through blue dart...,INVOICE # INV/70-41/903,...,"Kirk, Murphy and Daniels",NaN,"[[{'bbox': [[3.0, 372.8898], [543.0, 318.8898]...",TAX:VAT (6.22%): 11.99 USD,11.99,TAX INVOICE,TOTAL : 196.23 USD,196.23,Total in words: one hundred and ninet-\ny-six...,Template3_Instance100.json
4,BILL_TO:\nKelly Snyder\n81132 Parsons Lodge\nJ...,USD,Invoice Date: 10-Aug-1999,1999-08-10,NaN,Due Date : 15-May-2006,2006-05-15,[],Note:Total payment due in 14 days.,INVOICE ID INV79204732,...,"Kirk, Murphy and Daniels",NaN,"[[{'bbox': [[3.0, 408.8898], [543.0, 318.8898]...",TAX:VAT (6.85%): 77.71 $,77.71,COMMERCIAL INVOICE,TOTAL : 1155.97 $,5.97,"Total in words: one thousand, one hundred an-...",Template3_Instance101.json

# Template 4

## Raw (Top 5)

,BILL_TO,DATE,DISCOUNT,DUE_DATE,INVOICE_INFO,LOGO,NOTE,OTHER,SELLER_ADDRESS,SELLER_NAME,SUB_TOTAL,TABLE,TITLE,TOTAL,_source_file
0,BILL_TO:\nColleen Ellis\n37379 Harris Spurs Su...,Invoice Date: 12-Oct-1994,DISCOUNT(2.39%): (-) 23.71,Due Date : 31-May-2022,[],NaN,Thank you for choosing us!,tere hoover desien\n\nAddress:2180 Michael Rid...,Address:2180 Michael Ridges Apt. 385\nPort Lin...,Huff-Bryan,SUB_TOTAL : 992.04 USD,"[[{'bbox': [[31.0, 479.8898], [581.0, 389.8898...",TAX INVOICE,TOTAL : 995.15 USD,Template4_Instance0.json
1,BILL_TO:\nVicki Brennan\n163 Richard Station\n...,Date: 20-Jan-2004,DISCOUNT(4.3%): (-) 34.07,Due Date : 26-Apr-2016,[],NaN,Thank you for choosing us!,tere hoover desien\n\nAddress:2180 Michael Rid...,Address:2180 Michael Ridges Apt. 385\nPort Lin...,Huff-Bryan,SUB_TOTAL : 792.31 EUR,"[[{'bbox': [[31.0, 479.8898], [581.0, 389.8898...",INVOICE,TOTAL : 806.53 EUR,Template4_Instance1.json
2,BILL_TO:\nMisty Smith\n08158 Michael Track Apt...,Invoice Date: 21-Apr-2011,DISCOUNT(4.95%): (-) 23.34,Due Date : 19-Oct-1997,[],NaN,Note:Total payment due in 14 days.,tere hoover desien\n\nAddress:2180 Michael Rid...,Address:2180 Michael Ridges Apt. 385\nPort Lin...,Huff-Bryan,SUB_TOTAL : 471.57 $,"[[{'bbox': [[31.0, 443.8898], [581.0, 389.8898...",COMMERCIAL INVOICE,TOTAL : 487.65 $,Template4_Instance10.json
3,BILL_TO:\nShannon Knight\n187 Brittany Branch\...,Date: 30-Oct-1994,DISCOUNT(3.95%): (-) 11.14,Due Date : 14-Nov-2005,[],NaN,Thank you for your business!,tere hoover desien\n\nAddress:2180 Michael Rid...,Address:2180 Michael Ridges Apt. 385\nPort Lin...,Huff-Bryan,SUB_TOTAL : 282.04 USD,"[[{'bbox': [[31.0, 461.8898], [581.0, 389.8898...",COMMERCIAL INVOICE,TOTAL : 285.06 USD,Template4_Instance100.json
4,BILL_TO:\nGary Miller\n359 Emily Lock\nAllison...,Date: 29-Oct-2019,DISCOUNT(4.97%): (-) 55.77,Due Date : 25-Nov-2009,[],NaN,Note: All payments to be made in cash.\nContac...,tere hoover desien\n\nAddress:2180 Michael Rid...,Address:2180 Michael Ridges Apt. 385\nPort Lin...,Huff-Bryan,SUB_TOTAL : 1122.23 $,"[[{'bbox': [[31.0, 497.8898], [581.0, 389.8898...",TAX INVOICE,TOTAL : 1124.73 $,Template4_Instance101.json

## Cleaned (Top 5)

,BILL_TO,CURRENCY,DATE,DATE_NORM,DISCOUNT,DISCOUNT_AMOUNT,DUE_DATE,DUE_DATE_NORM,INVOICE_INFO,NOTE,...,SELLER_site,SELLER_tel,SUB_TOTAL,SUB_TOTAL_AMOUNT,TABLE,TAX_AMOUNT,TITLE,TOTAL,TOTAL_AMOUNT,_source_file
0,BILL_TO:\nColleen Ellis\n37379 Harris Spurs Su...,USD,Invoice Date: 12-Oct-1994,1994-10-12,DISCOUNT(2.39%): (-) 23.71,-23.71,Due Date : 31-May-2022,2022-05-31,[],Thank you for choosing us!,...,NaN,NaN,SUB_TOTAL : 992.04 USD,992.04,"[[{'bbox': [[31.0, 479.8898], [581.0, 389.8898...",NaN,TAX INVOICE,TOTAL : 995.15 USD,995.15,Template4_Instance0.json
1,BILL_TO:\nVicki Brennan\n163 Richard Station\n...,EUR,Date: 20-Jan-2004,2004-01-20,DISCOUNT(4.3%): (-) 34.07,-34.07,Due Date : 26-Apr-2016,2016-04-26,[],Thank you for choosing us!,...,NaN,NaN,SUB_TOTAL : 792.31 EUR,792.31,"[[{'bbox': [[31.0, 479.8898], [581.0, 389.8898...",NaN,INVOICE,TOTAL : 806.53 EUR,806.53,Template4_Instance1.json
2,BILL_TO:\nMisty Smith\n08158 Michael Track Apt...,USD,Invoice Date: 21-Apr-2011,2011-04-21,DISCOUNT(4.95%): (-) 23.34,-23.34,Due Date : 19-Oct-1997,1997-10-19,[],Note:Total payment due in 14 days.,...,NaN,NaN,SUB_TOTAL : 471.57 $,471.57,"[[{'bbox': [[31.0, 443.8898], [581.0, 389.8898...",NaN,COMMERCIAL INVOICE,TOTAL : 487.65 $,487.65,Template4_Instance10.json
3,BILL_TO:\nShannon Knight\n187 Brittany Branch\...,USD,Date: 30-Oct-1994,1994-10-30,DISCOUNT(3.95%): (-) 11.14,-11.14,Due Date : 14-Nov-2005,2005-11-14,[],Thank you for your business!,...,NaN,NaN,SUB_TOTAL : 282.04 USD,282.04,"[[{'bbox': [[31.0, 461.8898], [581.0, 389.8898...",NaN,COMMERCIAL INVOICE,TOTAL : 285.06 USD,285.06,Template4_Instance100.json
4,BILL_TO:\nGary Miller\n359 Emily Lock\nAllison...,USD,Date: 29-Oct-2019,2019-10-29,DISCOUNT(4.97%): (-) 55.77,-55.77,Due Date : 25-Nov-2009,2009-11-25,[],Note: All payments to be made in cash.\nContac...,...,NaN,NaN,SUB_TOTAL : 1122.23 $,2.23,"[[{'bbox': [[31.0, 497.8898], [581.0, 389.8898...",NaN,TAX INVOICE,TOTAL : 1124.73 $,4.73,Template4_Instance101.json

# Template 5

## Raw (Top 5)

,BUYER,DATE,INVOICE_INFO,LOGO,NOTE,NUMBER,OTHER,PO_NUMBER,SELLER_ADDRESS,SELLER_EMAIL,SELLER_NAME,SUB_TOTAL,TABLE,TAX,TOTAL,TOTAL_WORDS,_source_file
0,Bill to:Robyn Johnson\n233 Foster Gardens\nJoh...,Date: 18-Jan-1999,[],NaN,Thank you for your business!,INVOICE ID 5Y3M7d-590,Date: 18-Jan-1999\n\nINVOICE ID 5Y3M7d-590\nPO...,PO Number :84,"Address:233 Foster Gardens\nJohnburgh, ID 4190...",Email:paul73@example.com,Bailey Group,SUB_TOTAL : 677.45 USD,"[[{'bbox': [[7.0, 456.8898], [523.0, 366.8898]...",TAX:VAT (3.49%): 23.66 USD,BALANCE DUE : 677.33 USD,Total in words: six hundred and seventy-\n-se...,Template5_Instance0.json
1,Buyer :Paul Brown\n17969 Pratt Bypass Apt. 628...,Invoice Date: 13-Apr-2008,[],NaN,Note: All payments to be made in cash.\nContac...,INVOICE ID 6553-163,Invoice Date: 13-Apr-2008\n\nINVOICE ID 6553-1...,PO Number :96,"Address:233 Foster Gardens\nJohnburgh, ID 4190...",Email:paul73@example.com,Bailey Group,SUB_TOTAL : 615.84 $,"[[{'bbox': [[7.0, 420.8898], [523.0, 366.8898]...",TAX:VAT (4.15%): 25.54 $,BALANCE DUE : 630.17 $,Total in words: six hundred and thi-\nrty poi...,Template5_Instance1.json
2,Buyer :Patrick Rodriguez\n9566 Vasquez Inlet\n...,Date: 04-Aug-2020,[],NaN,Thank you for choosing us!,INVOICE # 6Y5M6d-746,Date: 04-Aug-2020\n\nINVOICE # 6Y5M6d-746\nPO ...,PO Number :19,"Address:233 Foster Gardens\nJohnburgh, ID 4190...",Email:paul73@example.com,Bailey Group,SUB_TOTAL : 553.73 USD,"[[{'bbox': [[7.0, 420.8898], [523.0, 366.8898]...",TAX:VAT (4.49%): 24.86 USD,BALANCE DUE : 564.97 USD,Total in words: five hundred and sixty-\n-fou...,Template5_Instance10.json
3,Buyer :Daniel Pierce\n78347 Schultz Island\nBu...,Invoice Date: 04-Oct-2022,[],NaN,Note:\nThis order is shipped through blue dart...,Invoice number INV94037759,Invoice Date: 04-Oct-2022\n\nInvoice number IN...,PO Number :25,"Address:233 Foster Gardens\nJohnburgh, ID 4190...",Email:paul73@example.com,Bailey Group,SUB_TOTAL : 56.99 $,"[[{'bbox': [[7.0, 420.8898], [523.0, 366.8898]...",TAX:VAT (3.13%): 1.78 $,BALANCE DUE : 56.86 $,Total in words: fifty-six po-\nint eight six,Template5_Instance100.json
4,Bill to:Sean Nichols\n35450 Brooke Freeway Sui...,Invoice Date: 27-Jan-2009,[],NaN,Note:Total payment due in 14 days.,Invoice number 5Y2M7d-545,Invoice Date: 27-Jan-2009\n\nInvoice number 5Y...,PO Number :62,"Address:233 Foster Gardens\nJohnburgh, ID 4190...",Email:paul73@example.com,Bailey Group,SUB_TOTAL : 143.83 USD,"[[{'bbox': [[7.0, 420.8898], [523.0, 366.8898]...",TAX:VAT (6.63%): 9.53 USD,BALANCE DUE : 151.09 USD,Total in words: one hundred and fift-\ny-one ...,Template5_Instance101.json

## Cleaned (Top 5)

,BUYER,BUYER_addr_line1,BUYER_addr_line2,BUYER_city_state_postal_country,BUYER_email,BUYER_name,BUYER_raw,BUYER_site,BUYER_tel,CURRENCY,...,SELLER_tel,SUB_TOTAL,SUB_TOTAL_AMOUNT,TABLE,TAX,TAX_AMOUNT,TOTAL,TOTAL_AMOUNT,TOTAL_WORDS,_source_file
0,Bill to:Robyn Johnson\n233 Foster Gardens\nJoh...,233 Foster Gardens,"Johnburgh, ID 41900 US",NaN,paul73@example.com,Bill to:Robyn Johnson,Bill to:Robyn Johnson | 233 Foster Gardens | J...,http://www.jones.biz/,+(108)863-6905,USD,...,NaN,SUB_TOTAL : 677.45 USD,677.45,"[[{'bbox': [[7.0, 456.8898], [523.0, 366.8898]...",TAX:VAT (3.49%): 23.66 USD,23.66,BALANCE DUE : 677.33 USD,677.33,Total in words: six hundred and seventy-\n-se...,Template5_Instance0.json
1,Buyer :Paul Brown\n17969 Pratt Bypass Apt. 628...,17969 Pratt Bypass Apt. 628,"Markmouth, OR 78073 US",NaN,morankarla@example.com,Buyer :Paul Brown,Buyer :Paul Brown | 17969 Pratt Bypass Apt. 62...,http://harvey-fuller.org/,+(113)594-1668,USD,...,NaN,SUB_TOTAL : 615.84 $,615.84,"[[{'bbox': [[7.0, 420.8898], [523.0, 366.8898]...",TAX:VAT (4.15%): 25.54 $,25.54,BALANCE DUE : 630.17 $,630.17,Total in words: six hundred and thi-\nrty poi...,Template5_Instance1.json
2,Buyer :Patrick Rodriguez\n9566 Vasquez Inlet\n...,9566 Vasquez Inlet,"North Erica, IN 28285 US",NaN,ydavis@example.com,Buyer :Patrick Rodriguez,Buyer :Patrick Rodriguez | 9566 Vasquez Inlet ...,http://stevens.com/,+(432)188-1728,USD,...,NaN,SUB_TOTAL : 553.73 USD,553.73,"[[{'bbox': [[7.0, 420.8898], [523.0, 366.8898]...",TAX:VAT (4.49%): 24.86 USD,24.86,BALANCE DUE : 564.97 USD,564.97,Total in words: five hundred and sixty-\n-fou...,Template5_Instance10.json
3,Buyer :Daniel Pierce\n78347 Schultz Island\nBu...,78347 Schultz Island,"Buckfort, MD 18498 US",NaN,howellsharon@example.com,Buyer :Daniel Pierce,Buyer :Daniel Pierce | 78347 Schultz Island | ...,https://kelley.com/,+(369)437-5540,USD,...,NaN,SUB_TOTAL : 56.99 $,56.99,"[[{'bbox': [[7.0, 420.8898], [523.0, 366.8898]...",TAX:VAT (3.13%): 1.78 $,1.78,BALANCE DUE : 56.86 $,56.86,Total in words: fifty-six po-\nint eight six,Template5_Instance100.json
4,Bill to:Sean Nichols\n35450 Brooke Freeway Sui...,35450 Brooke Freeway Suite 786,"Jacksonchester, FM 62786 US",NaN,christopherlamb@example.org,Bill to:Sean Nichols,Bill to:Sean Nichols | 35450 Brooke Freeway Su...,http://proctor.info/,+(821)255-7277,USD,...,NaN,SUB_TOTAL : 143.83 USD,143.83,"[[{'bbox': [[7.0, 420.8898], [523.0, 366.8898]...",TAX:VAT (6.63%): 9.53 USD,9.53,BALANCE DUE : 151.09 USD,151.09,Total in words: one hundred and fift-\ny-one ...,Template5_Instance101.json

In [3]:
from collections import OrderedDict

def presence_matrix(dfs_dict):
    all_cols = sorted(set().union(*[set(df.columns) for df in dfs_dict.values()]))
    mat = pd.DataFrame(index=[f"template{i}" for i in dfs_dict.keys()], columns=all_cols)

    for i, df in dfs_dict.items():
        mat.loc[f"template{i}", :] = [1 if c in df.columns else 0 for c in all_cols]

    return mat.astype(int)

raw_presence = presence_matrix(raw)
clean_presence = presence_matrix(clean)

display(Markdown("## Raw Column Presence (1=present, 0=absent)"))
display(raw_presence)

display(Markdown("## Cleaned Column Presence (1=present, 0=absent)"))
display(clean_presence)

## Raw Column Presence (1=present, 0=absent)

,BILL_TO,BUYER,DATE,DISCOUNT,DUE_DATE,GST(7%),GSTIN,GSTIN_BUYER,GSTIN_SELLER,INVOICE_INFO,...,SELLER_EMAIL,SELLER_NAME,SELLER_SITE,SUB_TOTAL,TABLE,TAX,TITLE,TOTAL,TOTAL_WORDS,_source_file
template1,0,1,1,1,1,0,0,1,1,1,...,1,0,1,1,1,1,1,1,1,1
template2,0,1,1,0,0,1,1,0,0,1,...,0,1,0,1,1,0,1,1,0,1
template3,1,0,1,0,1,0,0,0,0,1,...,0,1,0,0,1,1,1,1,1,1
template4,1,0,1,1,1,0,0,0,0,1,...,0,1,0,1,1,0,1,1,0,1
template5,0,1,1,0,0,0,0,0,0,1,...,1,1,0,1,1,1,0,1,1,1

## Cleaned Column Presence (1=present, 0=absent)

,BILL_TO,BUYER,BUYER_addr_line1,BUYER_addr_line2,BUYER_city_state_postal_country,BUYER_email,BUYER_name,BUYER_raw,BUYER_site,BUYER_tel,...,SUB_TOTAL,SUB_TOTAL_AMOUNT,TABLE,TAX,TAX_AMOUNT,TITLE,TOTAL,TOTAL_AMOUNT,TOTAL_WORDS,_source_file
template1,0,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
template2,0,1,1,1,1,1,1,1,1,1,...,1,1,1,0,1,1,1,1,0,1
template3,1,0,0,0,0,0,0,0,0,0,...,0,1,1,1,1,1,1,1,1,1
template4,1,0,0,0,0,0,0,0,0,0,...,1,1,1,0,1,1,1,1,0,1
template5,0,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,0,1,1,1,1

In [4]:
def missingness_table(df, top_n=20):
    miss_pct = (df.isna().mean() * 100).sort_values(ascending=False)
    out = pd.DataFrame({"missing_%": miss_pct.round(2)})
    return out.head(top_n)

for i in range(1, N_TEMPLATES + 1):
    display(Markdown(f"# Template {i} — Missingness (Cleaned)"))
    display(missingness_table(clean[i], top_n=20))

# Template 1 — Missingness (Cleaned)

                                  missing_%
SELLER_tel                            100.0
BUYER_city_state_postal_country       100.0
SELLER_addr_line2                     100.0
SELLER_city_state_postal_country      100.0
SELLER_email                          100.0
SELLER_site                           100.0
BUYER                                   0.0
SELLER_SITE                             0.0
SELLER_addr_line1                       0.0
SELLER_name                             0.0
SELLER_raw                              0.0
SUB_TOTAL                               0.0
SELLER_ADDRESS                          0.0
SUB_TOTAL_AMOUNT                        0.0
TABLE                                   0.0
TAX                                     0.0
TAX_AMOUNT                              0.0
TITLE                                   0.0
TOTAL                                   0.0
TOTAL_AMOUNT                            0.0

# Template 2 — Missingness (Cleaned)

                                  missing_%
SELLER_addr_line2                     100.0
SELLER_tel                            100.0
SELLER_city_state_postal_country      100.0
BUYER_city_state_postal_country       100.0
SELLER_email                          100.0
TAX_AMOUNT                            100.0
DISCOUNT_AMOUNT                       100.0
SELLER_site                           100.0
SELLER_name                             0.0
SELLER_raw                              0.0
BUYER                                   0.0
SELLER_addr_line1                       0.0
SUB_TOTAL_AMOUNT                        0.0
TABLE                                   0.0
TITLE                                   0.0
TOTAL                                   0.0
TOTAL_AMOUNT                            0.0
SUB_TOTAL                               0.0
SELLER_ADDRESS                          0.0
SELLER_NAME                             0.0

# Template 3 — Missingness (Cleaned)

                  missing_%
DISCOUNT_AMOUNT       100.0
SUB_TOTAL_AMOUNT      100.0
BILL_TO                 0.0
SELLER_NAME             0.0
TOTAL_WORDS             0.0
TOTAL_AMOUNT            0.0
TOTAL                   0.0
TITLE                   0.0
TAX_AMOUNT              0.0
TAX                     0.0
TABLE                   0.0
PO_NUMBER               0.0
CURRENCY                0.0
NUMBER                  0.0
NOTE                    0.0
INVOICE_INFO            0.0
DUE_DATE_NORM           0.0
DUE_DATE                0.0
DATE_NORM               0.0
DATE                    0.0

# Template 4 — Missingness (Cleaned)

                                  missing_%
SELLER_city_state_postal_country      100.0
SELLER_email                          100.0
TAX_AMOUNT                            100.0
SELLER_tel                            100.0
SELLER_site                           100.0
SELLER_addr_line2                     100.0
TOTAL_AMOUNT                            0.0
TOTAL                                   0.0
TITLE                                   0.0
TABLE                                   0.0
SUB_TOTAL_AMOUNT                        0.0
SUB_TOTAL                               0.0
SELLER_raw                              0.0
SELLER_name                             0.0
BILL_TO                                 0.0
CURRENCY                                0.0
SELLER_addr_line1                       0.0
SELLER_NAME                             0.0
SELLER_ADDRESS                          0.0
NOTE                                    0.0

# Template 5 — Missingness (Cleaned)

                                  missing_%
SELLER_addr_line2                     100.0
SELLER_city_state_postal_country      100.0
BUYER_city_state_postal_country       100.0
SELLER_email                          100.0
SELLER_site                           100.0
DISCOUNT_AMOUNT                       100.0
SELLER_tel                            100.0
SUB_TOTAL                               0.0
SELLER_name                             0.0
SELLER_raw                              0.0
BUYER                                   0.0
SELLER_addr_line1                       0.0
TABLE                                   0.0
TAX                                     0.0
TAX_AMOUNT                              0.0
TOTAL                                   0.0
TOTAL_AMOUNT                            0.0
TOTAL_WORDS                             0.0
SUB_TOTAL_AMOUNT                        0.0
SELLER_EMAIL                            0.0

In [5]:
engineered_cols = [
    "TOTAL_AMOUNT", "SUB_TOTAL_AMOUNT", "TAX_AMOUNT", "DISCOUNT_AMOUNT",
    "CURRENCY", "DATE_NORM", "DUE_DATE_NORM"
]

rows = []
for i in range(1, N_TEMPLATES + 1):
    df = clean[i]
    row = {"template": f"template{i}"}
    for c in engineered_cols:
        row[c] = round(df[c].isna().mean() * 100, 2) if c in df.columns else 100.0
    rows.append(row)

engineered_missingness = pd.DataFrame(rows)
display(Markdown("## Missingness % for Standardized Engineered Columns (Cleaned)"))
display(engineered_missingness)

## Missingness % for Standardized Engineered Columns (Cleaned)

,template,TOTAL_AMOUNT,SUB_TOTAL_AMOUNT,TAX_AMOUNT,DISCOUNT_AMOUNT,CURRENCY,DATE_NORM,DUE_DATE_NORM
0,template1,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,template2,0.0,0.0,100.0,100.0,0.0,0.0,100.0
2,template3,0.0,100.0,0.0,100.0,0.0,0.0,0.0
3,template4,0.0,0.0,100.0,0.0,0.0,0.0,0.0
4,template5,0.0,0.0,0.0,100.0,0.0,0.0,100.0

In [6]:
OUT_DIR = "data/csv_files/appendix_tables"
os.makedirs(OUT_DIR, exist_ok=True)

raw_presence.to_csv(os.path.join(OUT_DIR, "raw_column_presence.csv"), index=True)
clean_presence.to_csv(os.path.join(OUT_DIR, "cleaned_column_presence.csv"), index=True)
engineered_missingness.to_csv(os.path.join(OUT_DIR, "engineered_missingness_summary.csv"), index=False)

print("Saved appendix tables to:", OUT_DIR)

Saved appendix tables to: data/csv_files/appendix_tables

In [7]:
from IPython.display import display, HTML

def side_by_side_tables(df_left, df_right, left_title="Raw (Top 5)", right_title="Cleaned (Top 5)", n_rows=5):
    left_html = df_left.head(n_rows).to_html(index=False, escape=False)
    right_html = df_right.head(n_rows).to_html(index=False, escape=False)

    html = f"""
    <div style="display:flex; gap:20px; align-items:flex-start;">
      <div style="flex:1; min-width: 400px;">
        <h3 style="margin:0 0 10px 0;">{left_title}</h3>
        {left_html}
      </div>
      <div style="flex:1; min-width: 400px;">
        <h3 style="margin:0 0 10px 0;">{right_title}</h3>
        {right_html}
      </div>
    </div>
    """
    display(HTML(html))


# ---- Render for each template ----
N_TEMPLATES = 5
for i in range(1, N_TEMPLATES + 1):
    display(HTML(f"<h2 style='margin-top:25px;'>Template {i}</h2>"))
    side_by_side_tables(
        raw[i],
        clean[i],
        left_title="Raw (Top 5)",
        right_title="Cleaned (Top 5)",
        n_rows=5
    )

In [8]:
from IPython.display import display, HTML

# ---- Define your "key columns" sets ----
RAW_KEY_COLS = [
    "TITLE", "DATE", "DUE_DATE", "PO_NUMBER",
    "TOTAL", "SUB_TOTAL", "TAX", "DISCOUNT",
    "GSTIN_BUYER", "GSTIN_SELLER",
    "BUYER", "SELLER_ADDRESS", "SELLER_EMAIL", "SELLER_SITE",
    "_source_file"
]

CLEAN_KEY_COLS = [
    # Engineered numeric + date fields
    "TOTAL_AMOUNT", "SUB_TOTAL_AMOUNT", "TAX_AMOUNT", "DISCOUNT_AMOUNT", "CURRENCY",
    "DATE_NORM", "DUE_DATE_NORM",

    # Buyer structured fields
    "BUYER_name", "BUYER_addr_line1", "BUYER_addr_line2", "BUYER_city_state_postal_country",
    "BUYER_tel", "BUYER_email", "BUYER_site",

    # Seller structured fields
    "SELLER_name", "SELLER_addr_line1", "SELLER_addr_line2", "SELLER_city_state_postal_country",
    "SELLER_tel", "SELLER_email", "SELLER_site",

    "_source_file"
]

def pick_existing_cols(df, wanted_cols):
    return [c for c in wanted_cols if c in df.columns]

def side_by_side_key_tables(raw_df, clean_df, n_rows=5,
                            raw_title="Raw (Key Columns, Top 5)",
                            clean_title="Cleaned (Key Columns, Top 5)"):
    raw_cols = pick_existing_cols(raw_df, RAW_KEY_COLS)
    clean_cols = pick_existing_cols(clean_df, CLEAN_KEY_COLS)

    raw_view = raw_df.loc[:, raw_cols].head(n_rows) if raw_cols else raw_df.head(n_rows)
    clean_view = clean_df.loc[:, clean_cols].head(n_rows) if clean_cols else clean_df.head(n_rows)

    # render
    raw_html = raw_view.to_html(index=False, escape=False)
    clean_html = clean_view.to_html(index=False, escape=False)

    html = f"""
    <div style="display:flex; gap:20px; align-items:flex-start;">
      <div style="flex:1; min-width: 450px;">
        <h3 style="margin:0 0 10px 0;">{raw_title}</h3>
        {raw_html}
      </div>
      <div style="flex:1; min-width: 450px;">
        <h3 style="margin:0 0 10px 0;">{clean_title}</h3>
        {clean_html}
      </div>
    </div>
    """
    display(HTML(html))


# ---- Render for each template ----
N_TEMPLATES = 5
for i in range(1, N_TEMPLATES + 1):
    display(HTML(f"<h2 style='margin-top:25px;'>Template {i} — Key Columns View</h2>"))
    side_by_side_key_tables(raw[i], clean[i], n_rows=5)

In [ ]:
import os
import pandas as pd

RAW_DIR = "../data/csv_files/raw_data"
CLEAN_DIR = "../data/csv_files/cleaned_data"

def show_template_columns(n_templates=5):
    for i in range(1, n_templates + 1):
        raw_path = os.path.join(RAW_DIR, f"template{i}.csv")
        clean_path = os.path.join(CLEAN_DIR, f"template{i}_clean.csv")

        print("\n" + "=" * 90)
        print(f"TEMPLATE {i}")
        print("=" * 90)

        if os.path.exists(raw_path):
            raw_df = pd.read_csv(raw_path)
            print("\nRAW COLUMNS:")
            for col in raw_df.columns:
                print(f"  - {col}")
        else:
            print("\nRAW COLUMNS: file not found")

        if os.path.exists(clean_path):
            clean_df = pd.read_csv(clean_path)
            print("\nCLEANED COLUMNS:")
            for col in clean_df.columns:
                print(f"  - {col}")
        else:
            print("\nCLEANED COLUMNS: file not found")


# Run this once
show_template_columns(n_templates=5)